@import url("https://fonts.googleapis.com/css2?family=Cute+Font&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  @apply bg-zinc-900 text-white;
}

.text-shadow {
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}
